@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #3F72AF;
}

main .wrapper{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9F7F7;
    width: 40%;
    margin: 30px auto 0 auto;
    border-radius: 16px;
    padding: 1% 3%;
    max-height: 90vh;
    overflow-y: scroll;
}

main .wrapper .head .logo{
    color: #112D4E;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 18px;
}

main .wrapper .head .lineImg{
    display: block;
    width: 100%;
    margin: 24px auto;
}

main .wrapper .head .form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

main .wrapper .head .form .addNewTask{
    border: none;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background-color: #DBE2EF;
    padding: 9px;
    width: 80%;
}

main .wrapper .head .form .addNewTask::placeholder{
    color: #7B7B7B;
}

main .wrapper .head .form img{
    cursor: pointer;
    display: block;
}

.wrapper::-webkit-scrollbar {
    width: 12px; /* ширина всей полосы прокрутки */
}

.wrapper::-webkit-scrollbar-track {
    background: rgba(201, 201, 201, 0); /* цвет зоны отслеживания */

}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #DBE2EF; /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: rgba(255, 255, 255, 0.2) 1px solid; /* отступ вокруг бегунка */
}

main .wrapper .addedTasks .task{
    background-color: #DBE2EF;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    word-wrap: break-word;
    overflow-y: hidden;
    border-radius: 5px;
}

main .wrapper .addedTasks .task::-webkit-scrollbar {
    width: 10px; /* ширина всей полосы прокрутки */
    height: 10px;
}

main .wrapper .addedTasks .task::-webkit-scrollbar-track {
    background: rgba(201, 201, 201, 0); /* цвет зоны отслеживания */

}

main .wrapper .addedTasks .task::-webkit-scrollbar-thumb {
    background-color: #112D4E; /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: rgba(255, 255, 255, 0.2) 1px solid; /* отступ вокруг бегунка */
}

main .wrapper .addedTasks .task input{
    margin-right: 10px;
}

main .wrapper .addedTasks .completed{
    text-decoration: line-through;
}

main .wrapper .addedTasks .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .wrapper .addedTasks .buttons button{
    cursor: pointer;
    background-color: #DBE2EF;
    border: none;
    padding: 6px ;
    color: #112D4E;
    font-size: 13px;
    margin-bottom: 14px;
    border-radius: 6px;
}